<div class="main post-index">
    <div class="container">
        <a href="/post/input">input data</a>
        <div class="posts-show-item">
            <p><%= @data.nama %></p>
            <p><%= @data.deskripsi %></p>

            <div class="post-time"> 
                <%= @data.created_at %>
            </div>
            <a href="/post/index">kembali</a>

           


        </div>
    </div>
</div>